<nz-page-header>
  <nz-page-header-title>63 Depot Road</nz-page-header-title>
  <nz-page-header-subtitle>Huntington Station</nz-page-header-subtitle>
  <nz-page-header-subtitle>Block 919</nz-page-header-subtitle>
  <nz-page-header-subtitle>Lot 58</nz-page-header-subtitle>
  <nz-page-header-subtitle>GBA 9,973 SF</nz-page-header-subtitle>
  <nz-page-header-subtitle
    ><i nz-icon [type]="'ellipsis'"></i
  ></nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-page-header-tags>
      <nz-tag [nzColor]="'green'">Draft</nz-tag>
    </nz-page-header-tags>
    <i nz-icon [type]="'share-alt'"></i>
  </nz-page-header-extra>
</nz-page-header>
